
:root {
  --fondo-oscuro: #241007;
  --marron-rojizo: #634140;
  --marron-suave: #583B3A;
  --texto: #ffffff;
}

.contenido-principal {
    width: 80%;
    padding: 20px;
    background-color: #241007;  /* marrón muy oscuro */
    color: #fffaf2;              /* texto crema suave */
}
.contenido-principal h3,h1,
.contenido-principal p {
    text-align: center;
}




/* Menú lateral */
.menu-lateral {
  width: 20%;
  background-color: var(--marron-rojizo);
  position: sticky;
  top: 0;
  height: 100vh;
  overflow-y: auto;
  color: var(--texto);
}

.menu-lateral h2 {
  color: var(--texto);
}

.menu-lateral a {
  display: block;
  text-decoration: none;
  font-weight: bold;
  color: var(--texto);
  padding: 10px;
  border-radius: 5px;
  transition: background 0.3s ease, color 0.3s ease;
}

.menu-lateral a:hover {
  background-color: var(--marron-suave);
  color: #f0d5d5; 
}

table.valores {
    border-collapse: collapse;
    margin: auto;
}

table.valores td {
    padding: 10px;
    text-align: center;
    vertical-align: top;
}

td.valor {
    text-align: center; 
    vertical-align: top;
    padding: 10px;     
}

.validador {
  position: fixed;
  bottom: 10px;
  right: 10px;
  z-index: 999;
}

.validador-css {
  position: fixed;
  bottom: 10px;
  right: 110px; 
  z-index: 999;
}